.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vh 3vw 1.5vh 3vw;
    background: #fff;
    border-bottom: 0.2vh solid #e0e0e0;
    position: relative;
    z-index: 2;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerRight {
    display: flex;
    align-items: flex-start;
    gap: 1.5vw;
}

.iconImg {
    width: 24px;
    height: 24px;
    margin: 0 6px;
    vertical-align: middle;
    cursor: pointer;
}

.logo {
    height: 6vh;
    margin-right: 0;
}
.squad {
    height: 6vh;
    margin-right: 0;
}

.divider {
    width: 0.15vw;
    height: 6vh;
    background: #e0e0e0;
    margin: 0 2vw;
    display: inline-block;
    align-self: center;
}

.headerVersion {
    font-size: 1.1vh;
    color: #757575;
    font-family: Montserrat;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: right;
}

.headerVersion p{
    margin: 0;
}

.headerIcons{
    font-size: 2.5vh;
    color: #bdbdbd;
    margin-left: 0.7vw;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.2s;
}
.headerIcons:hover {
    color: #26a69a;
}

.iconWrapper {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    z-index: 10;
    top: 125%; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}


.iconWrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

